
h3{
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
}


body{
  background: #FFDDAA;
}

table.planbox{ 
  padding: 10px;
  margin-left:auto; 
  margin-right:auto; 

  }

table, tr, td  {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    
}

th{
    border: 1px solid white;
    border-collapse: ;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    
}

#good{
  font-size: 100%;
}

#bad{
  font-size: 50%;
}

img.catimg{
  border-radius: 50%;
  border: 5px dashed #FFFFFF;
  width: 200px;
}

.back{
  padding: 30px
  
}
  