


h3{
  text-align: left;
  color: #FF3333;
  padding: 10px;
}



table.planbox{
  border-width: 3px;
  border-color: ;
  border-style: solid;
  background: ;
  padding: 10px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}



#noon{
  color: #FF7744;
}