


h3{
  text-align: center;
  color: #FF3333;
  padding: 10px;
  
}



table.schedulebox{
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  border:solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center; 
  margin-left:auto; 
  margin-right:auto; 
}

tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center; 
}

th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}



#noon{
  color: #FF7744;
}