
table.planbox{
  border-width: 5px;
  border-color: ;
  border-style: solid;
  background: ;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}

th {
  text-align: center;
}