header, footer{
  text-align: center;
  color: white;  
  opacity:0.6;  
  width: 100%;
  padding: 20px;
  background-color: #00DDAA; 
  margin-bottom: 20px;  
}

body { 
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}      
  


  
div.cbox{
  padding: 20px;
  background-color: rgba(255,68,170,0.3);
  width: 450px;
  height: 450px;  
}
  
  
div.padding{
  padding: 20px;
}

div.comment{
  padding: 20px;
  background-color: rgba(0,147,147,0.3);
  width: 450px;
  height: 300px; 
}

.userimg{
  float: right;
  background-color: rgba(255,255,255,0.5);
  padding: 8px;
  width: 25%;
}

.userinfo { 
  float:left; 
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  color :#009393;
  clear: left;  
} 
  
.usercomment{
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  color :#009393;
  float: left;
}

