header, footer{
  text-align: center;
  color: white;  
  opacity:0.6;  
  width: 100%;
  padding: 20px;
  background-color: #00DDAA; 
  margin-bottom: 20px;  
}

body { 
  background-image: url('http://i.imgur.com/XMAlGF4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}      
  


  
div.cbox{
  padding: 20px;
  background-color: rgba(255,68,170,0.3);
  width: 450px;
  height: 450px;  
}
  
  
div.padding{
  padding: 20px;
}

div.comment{
  padding: 20px;
  background-color: rgba(0,147,147,0.3);
  width: 450px;
  height: 500px; 
}

div.userimg{
  background-color: rgba(255,255,255,0.5);
 

}
