header, footer{
  text-align: center;
  color: white;  
  opacity:0.6;  
  width: 100%;
  padding: 20px;
  background-color: #00DDAA;         
}

body { 
  background-image: url('http://i.imgur.com/XMAlGF4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}      
  
div.padding{
  padding:20px;
}

