  h1{
    color: #FF0080;
	padding-left: 400px;
    padding-top: 420px;
	}
	
  div.para{
    padding: 50px;
	color: #FFFFFF
  }

  body{
    margin: 0px;
  }
  div.photo{
    background-image: url('images/F.jpg');
    background-color: #CCCCCC; 
	height: 100%;
	width: 100%;
	margin: 0px;
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px
	background-repeat: no-repeat;
  }
  
  div.block1{
  background-color: #272727; 
  width: 1920px;
  height: 960px;
}

  div.block2{
  background-color: #E6006B; 
  width: 1920px;
  height: 960px;
}



!---<link rel=stylesheet  type="text/css"  href="css/style.css">--!