img.stone{
	width: 32px;
	margin-top: -6px;
}

img.sakuya{
	margin: 5%;
	width: 50%;
	position: relative;
	left: 20%;

}

.banner{
	background-color: #FFDECC;
	height: 60%; 
}


/*h1.bannertext{
	position: relative;
	color: #272727;
	font-weight: 200px;	
}*/


.bannertext{
 	position: absolute;
    width: 100%;
    left: -4%;
    top: -24%;
}

}



.vsscore{
	margin: 10%;	

}

.scoreboard{
	text-align: center;


}



.tema{
    position: absolute;
    left: 90%;
    top: -3%;
    z-index: -10;
}

.temasakuya{
	position: absolute;
	z-index: -10;
    top: -19%;
    left: -44%;

}

table.scoreboard th{
	text-align: center !important;
}


.varu{
	width: 50%;
	margin: auto;
	position: relative;
	top: 8px;
    left: 25%;
}

.mosaic{
	background-color: black;
	width: 10%;
    height: 6%;
	position: absolute;
	top: 28%;
    left: 45%;
}

.varutitle{
	left: 24%;
	top: 10%;
	position: relative;
}

